body {
    font-family: 'VT323', monospace;
    font-size: 2em;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right:3em;
    background-color: rgb(254, 255, 254);
}

.italic:hover {
    font-style: italic;
}
.strong:hover {
    font-weight: bolder;
}

.thatarenot:hover::after {
    content:"......,,,,,,,.,,";

}

.questionmark:hover::after {
    content: "..????!???!!";

}
.dots:hover::after {
    content:"........";

}
.commas:hover::after {
    content: ",,,,,,,,";

}
.questionisaquestion:hover {
    font-size: 100px;
}
.questionisaquestion:hover::after {
    content: " is a question is a question is a question is a question is a question is a question is a question is a question is a question is a question is a question is a question is a question";
}
.exclamation:hover::after {
    content:"!!!!!?!!!";

}

.quote:hover::before {
    content:'"';

}
.quote:hover::after {
    content:'"';
}
.revolting:hover {
    text-decoration: line-through;
}

.weakness:hover::after {
    content:"(or its weakness' weakness)";
}
.long:hover::after {
    content: "oooooooooOOOoooOOoooOOOOOOooOOooo";
}
.longdots:hover::after {
    content:"............................................................................................................................................................................................................................................................................................................................................................................";
}
.periodclap:hover::after {
    content: ".";
}
.PERIOD:hover::after {
    content: "(PERIOD)";
}
.question1:hover::after {
    content: "..?";
}
.question2:hover::after {
    content: "..????";
}

.dashes:hover::after {
    content: "--.-...";
}   

.space:hover::after {
    content: "\00a0\00a0\00a0";
}

.crazy:hover {
    font-size: 100px; 
}

/* a */
a {
    color:black;
    text-decoration: none;
}
a:hover {
    color:rgb(0, 151, 104);
    cursor: pointer;

}



/* navigation */
.nextpage {
    font-size: 2em;
    text-align: right;
}
.nextpage:hover {
    text-align: right;
    text-decoration: none;
    color:rgb(0, 151, 104);
}


/* easter egg pages */
.box {
    border-radius: 5px solid black;
    h2 {
        font-weight: 100;
        font-style: italic;
        margin-top: -1em;
    }
    h3 {
        font-weight: 100;
        font-size: 1em;
        margin-top: -1em;
    }
    h4 {
        color:gray;
        font-size: smaller;
        font-weight: 100;
        margin-top: -1em;

    }

}