.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.circle {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: blue;

}

.green {
    background-color: rgb(0,255,0);
}